/*------------RESET-------------*/

h1, h2, h3, h4, p, a, small, ul, li {
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

ul, li {
  list-style: none;
}
